block vars
	-
		page = {
			language: 'en',
			name: 'bananas',
			title: 'bananas',
			appTitle: 'Bananas',
			description: ' ',
			keywords: '',
			copyright:
		}

title #{page.title}
meta(name="description" content=page.description)
meta(name="keywords" content=page.keywords)
meta(name="author" content=page.name)
meta(name="copyright" content=page.copyright)
meta(charset='utf-8')
meta(name="twitter:title" content=page.name)

//- old ie
meta(http-equiv="X-UA-Compatible", content="IE=edge")
//- Mobile Specific Metas
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

//- Styles
block style-link
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
	link(href="css/normalize.css", rel="stylesheet")
	link(href="css/css_reset.css", rel="stylesheet")
	link(href="css/style.css", rel='stylesheet')

//- Scripts (my be on body down)
block script
	//- script(src="js/jquery-3.3.1.min.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js")
	//- Plug-in Simple Plain Accordion Interface CSS style
	//- script(src="js/accordion.min.js")
	//- script(src="js/swiper.min.js")
	//- script(src="js/scripts.js")