// font for title $font-caption 'Bebas Neue'
@font-face
	font-family: 'bebas_neue', sans-serif
	src: url('./fonts/bebasneue_bold.woff2') format('woff2'),	url('./fonts/bebasneue_bold.ttf') format('truetype'),	url('./fonts/bebasneue_bold.woff') format('woff')
	font-weight: 700
	font-style: normal
	text-transform: uppercase
	font-display: auto